/* ~~~~~~~~~~~~~~ */
/* color variables */
/* ~~~~~~~~~~~~~~ */
:root {
  --primaryColor: #444444;
  --secondaryColor: #ffdd67;
  --tertiaryColor: #535945;
  --jazz1: #2a7e90;
  --jazz2: #165120;
  --jazz3: #031138;
  --jazz4: #013c40;
  --rainbow: linear-gradient(-45deg, red, orange, yellow, green, blue, indigo, violet);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content h1 {
  color: #111;
  font-size: 6em;
}

.content h1 span {
  display: table-cell;
  animation: animate 2s linear infinite;
}

.content h1 span:nth-child(1) {
  animation-delay: 0s;
}

.content h1 span:nth-child(2) {
  animation-delay: 0.25s;
}

.content h1 span:nth-child(3) {
  animation-delay: 0.5s;
}

.content h1 span:nth-child(4) {
  animation-delay: 0.75s;
}

.content h1 span:nth-child(5) {
  animation-delay: 1s;
}

.content h1 span:nth-child(6) {
  animation-delay: 1.25s;
}

.content h1 span:nth-child(7) {
  animation-delay: 1.5s;
}

.content h1 span:nth-child(8) {
  animation-delay: 1.75s;
}

@keyframes animate {

  0%,
  100% {
    color: #fff;
    filter: blur(2px);
    text-shadow: 0 0 10px #00b3ff,
      0 0 20px #00b3ff,
      0 0 40px #00b3ff,
      0 0 80px #00b3ff,
      0 0 120px #00b3ff,
      0 0 200px #00b3ff,
      0 0 300px #00b3ff,
      0 0 400px #00b3ff;
  }

  5%,
  95% {
    color: #111;
    filter: blur(0px);
    text-shadow: none;
  }
}